@charset "UTF-8";

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 7px;
    font-size: 13px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 95%;
	height: 30%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 36px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-link {
    margin-top: 20px; /* Space above the link */
    text-align: center; /* Center the text */
    font-size: 16px; /* Set font size */
    color: #333; /* Text color */
}

.login-link a {
    color: #007bff; /* Link color (blue) */
    text-decoration: none; /* Remove underline from link */
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #0056b3; /* Darker blue on hover */
}

