<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Online_shop</display-name>
  
  <!-- Spring MVC Dispatcher Servlet Configuration -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- Static Resources Mapping -->
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.springframework.web.servlet.resource.ResourceHttpRequestHandler</servlet-class>
    <init-param>
      <param-name>locations</param-name>
      <param-value>/resources/</param-value> <!-- Update this path to match your image folder location -->
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern> <!-- Maps any request to /resources/ to be handled by the default servlet -->
  </servlet-mapping>

</web-app>
